<td>
    {% if object.image == "" %}
        <img src="{{ asset('/images/logo.png') }}" alt="New World telecom - {{ object.name }}" width="80px" class="img circle profile_img"/>
    {% else %}
        <img src="{{ asset('images/product/'~object.image) }}" alt="New World telecom - {{ object.name }}" width="80px" class="img-t"/>
    {% endif %}
</td>